body {
    font-family: Arial, sans-serif;
    background-color: rgb(51, 50, 50);
    color: rgb(223, 222, 222);
}

#status {
    color: rgb(209, 12, 12); /* You might want to change this to a lighter shade for better contrast */
}

#summary {
    margin-top: 10px;
}